<?xml version="1.0"?>
<!--
/**
 * Allpago - Gwap. 
 *
 * @title      Magento Allpago Gwap
 * @category   Payment
 * @package    Allpago_Gwap
 * @author     Allpago Development Team
 * @copyright  Copyright (c) 2013 Allpago
 */
 -->
<config>
    <modules>
        <Allpago_Gwap>
            <version>0.1.1</version>
        </Allpago_Gwap>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <gwap_boleto_type>
                    <to_order_payment>*</to_order_payment>
                </gwap_boleto_type>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <gwap>
                <class>Allpago_Gwap_Model</class>
                <resourceModel>gwap_mysql4</resourceModel>
            </gwap>
            <gwap_mysql4>
                <class>Allpago_Gwap_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>allpago_payment_orders</table>
                    </order>
                    <oneclick>
                        <table>allpago_oneclick</table>
                    </oneclick>                     
                </entities>
            </gwap_mysql4>
            <sales>
                <rewrite>
                    <order>Allpago_Gwap_Model_Sales_Order</order>
                </rewrite>
            </sales>    
        </models>
        
        <blocks>
            <gwap>
                <class>Allpago_Gwap_Block</class>
            </gwap>
        </blocks>
        <helpers>
            <gwap>
                <class>Allpago_Gwap_Helper</class>
            </gwap>
        </helpers>
        <resources>
            <allpago_gwap_setup>
                <setup>
                    <module>Allpago_Gwap</module>                    
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </allpago_gwap_setup>
        </resources>
        <events>
            <!--
            <checkout_submit_all_after>
                <observers>
                    <gwap_sales_order_submit_all_after>
                        <class>gwap/observer</class>
                        <method>salesOrderSave</method>
                    </gwap_sales_order_submit_all_after>
                </observers>
            </checkout_submit_all_after>
            -->
            <controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
                <observers>
                    <allpago_gwap_onepagecheckout>
                        <type>singleton</type>
                        <class>gwap/observer</class>
                        <method>descontoBoleto</method>
                    </allpago_gwap_onepagecheckout>
                </observers>
            </controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>            
            <controller_action_predispatch_onepagecheckout_index_updateCheckout>
                <observers>
                    <allpago_gwap_onepagecheckout>
                        <type>singleton</type>
                        <class>gwap/observer</class>
                        <method>descontoBoleto</method>
                    </allpago_gwap_onepagecheckout>
                </observers>
            </controller_action_predispatch_onepagecheckout_index_updateCheckout>             
            <checkout_onepage_controller_success_action>
                <observers>
                    <gwap_sales_order_submit_all_after>
                        <class>gwap/observer</class>
                        <method>salesOrderSave</method>
                    </gwap_sales_order_submit_all_after>
                </observers>                   
                <observers>
                    <allpago_gwap_add_boleto_link>
                        <type>singleton</type>
                        <class>gwap/observer</class>
                        <method>addBoletoLink</method>
                    </allpago_gwap_add_boleto_link>
                </observers>             
            </checkout_onepage_controller_success_action>               
        </events>   
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gwap>
                    <file>allpago_gwap.xml</file>
                </gwap>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <gwap>
                <use>standard</use>
                <args>
                    <module>Allpago_Gwap</module>
                    <frontName>allpago_gwap</frontName>
                </args>
            </gwap>
        </routers>
        <layout>
            <updates>
                <allpago_gwap>
                    <file>allpago_gwap.xml</file>
                </allpago_gwap>
            </updates>
        </layout>
    </frontend>    
    <default>
        <payment>
            <gwap_auth>
                <security_sender>ff8080813af4bee5013b04f0dccb0e2b</security_sender>			      	      	
                <user_login>ff8080813af4bee5013b04f0dccc0e2f</user_login>							
                <user_pwd>e4Bg9PQG</user_pwd>                
                <ambiente>CONNECTOR_TEST</ambiente>
            </gwap_auth>
            <gwap_cc>
                <active>0</active>
                <model>gwap/methods_cc</model>
                <title>Cartão de Crédito</title>
                <order_status>pending</order_status>
                <campo_documento>taxvat,cpf,cnpj,customer_taxvat,customer_cpf,customer_cnpj</campo_documento>
                <nautorizado><![CDATA[ Seu pagamento não foi autorizado, para maiores informações entre em contato com a sua operadora. ]]></nautorizado>
                <api_mascara>1</api_mascara>
                <idioma>1</idioma>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <sort_order>1</sort_order>
                <!-- Allpago MC variables -->
                <mc_active>1</mc_active>
                <mc_type>cc</mc_type>                
                <mc_tries>1</mc_tries>
                <mc_log_error>1</mc_log_error>
                <mc_fraud_check>1</mc_fraud_check>
            </gwap_cc>
            <gwap_oneclick>
                <active>0</active>
                <model>gwap/methods_oneclick</model>
                <title>One-click</title>
                <order_status>pending</order_status>
                <campo_documento>taxvat,cpf,cnpj,customer_taxvat,customer_cpf,customer_cnpj</campo_documento>
                <idioma>1</idioma>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <sort_order>2</sort_order>
                <!-- Allpago MC variables -->
                <mc_active>1</mc_active>                
                <mc_type>oneclick</mc_type>                
                <mc_tries>0</mc_tries>
                <mc_log_error>0</mc_log_error>
                <mc_fraud_check>0</mc_fraud_check>
            </gwap_oneclick>            
            <gwap_boleto>
                <active>0</active>
                <model>gwap/methods_boleto</model>
                <title>Boleto Bancário</title>
                <order_status>pending</order_status>
                <campo_documento>taxvat,cpf,cnpj,customer_taxvat,customer_cpf,customer_cnpj</campo_documento>
                <idioma>1</idioma>
                <allowspecific>1</allowspecific>
                <specificcountry>BR</specificcountry>
                <texto_desconto>10% no Boleto</texto_desconto>
                <sort_order>90</sort_order>
                <!-- Allpago MC variables -->
                <mc_active>1</mc_active>                
                <mc_type>boleto</mc_type>                
                <mc_tries>0</mc_tries>
                <mc_log_error>0</mc_log_error>
                <mc_fraud_check>0</mc_fraud_check>
            </gwap_boleto>
        </payment>
    </default>
    <crontab>
        <jobs>
            <allpago_gwap_cancel_boleto>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>gwap/observer::cancelBoleto</model>
                </run>
            </allpago_gwap_cancel_boleto>
        </jobs>
    </crontab>
</config>
     