<?xml version="1.0" ?>
<!--
/**
 * Allpago - Gwap. 
 *
 * @title      Magento Allpago Gwap
 * @category   Payment
 * @package    Allpago_Gwap
 * @author     Allpago Development Team
 * @copyright  Copyright (c) 2013 Allpago
 */
 -->
<config>
    <sections>
        <allpago translate="label" >
            <label>Allpago</label>
            <tab>sales</tab>
            <class>allpago-section</class>
            <header_css>allpago-header</header_css>
            <frontend_type>text</frontend_type>
            <sort_order>375</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                
                <auth translate="label">
                    <label>Autenticação</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <security_sender translate="label">
                            <label>Security Sender</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_auth/security_sender</config_path>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </security_sender>			      	      	
                        <user_login translate="label">
                            <label>User Login</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_auth/user_login</config_path>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </user_login>							
                        <user_pwd translate="label">
                            <label>User Pwd</label>
                            <frontend_type>obscure</frontend_type>
                            <config_path>payment/gwap_auth/user_pwd</config_path>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </user_pwd>	
                        <ambiente translate="label">
                            <label>Ambiente</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gwap/source_environment</source_model>
                            <config_path>payment/gwap_auth/ambiente</config_path>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ambiente>
                    </fields>
                </auth>
                
                <gwap_cc translate="label">
                    <label>Cartão de Crédito</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>                    
                    <fields>
                        <active translate="label">
                            <label>Habilitado</label>
                            <frontend_type>select</frontend_type>
                            <config_path>payment/gwap_cc/active</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Título</label>
                            <config_path>payment/gwap_cc/title</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <autorizacao translate="label">
                            <label>Tipo de Autorização</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gwap/source_auth</source_model>
                            <config_path>payment/gwap_cc/tipo_autorizacao</config_path>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[
                                        Define se a operação de autorização é executada em lote pela cron do magento ou instantâneamente (no ato da compra).
                                     ]]>
                            </comment>
                        </autorizacao>                        
                        <acao translate="label">
                            <label>Ação de Pagamento</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gwap/source_pagto</source_model>
                            <config_path>payment/gwap_cc/acao</config_path>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment> <![CDATA[
                                        Define se a operação de captura é executada com pré autorização ou captura direta.
                                ]]>
                            </comment>
                        </acao>
                        <captura translate="label">
                            <label>Captura Manual</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>payment/gwap_cc/captura</config_path>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment> <![CDATA[
                                        Define se a operação de captura é executada de forma automatica (cronjob) ou manual (exigindo a captura online pelo admin).
                                ]]>
                            </comment>
                        </captura>
                        <nautorizado translate="label">
                            <label>Mensagem para pagamentos não autorizados</label>
                            <frontend_type>textarea</frontend_type>
                            <config_path>payment/gwap_cc/nautorizado</config_path>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment> <![CDATA[
                                        Essa mensagem será exibida após o envio do pedido em caso de falha na autorização do pagamento.
                                ]]>
                            </comment>
                        </nautorizado>                        
                        <channel translate="label">
                            <label>Operadora</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>gwap/adminhtml_gwap_system_config_form_field_channel_cc</frontend_model>
                            <source_model>gwap/source_channel_cc</source_model>     
                            <config_path>payment/gwap_cc/channel</config_path>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </channel>
                        
                        <transaction_channel_rcard translate="label">
                            <label>Transaction Channel Rede Card</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_cc/transaction_channel_rcard</config_path>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </transaction_channel_rcard>                        
                        
                        <transaction_channel_cielo translate="label">
                            <label>Transaction Channel Cielo</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_cc/transaction_channel_cielo</config_path>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </transaction_channel_cielo>	
                        
                        <cctypes translate="label">
                            <label>Métodos de pagamento</label>
                            <frontend_type>multiselect</frontend_type>
                            <config_path>payment/gwap_cc/cctypes</config_path>
                            <source_model>gwap/source_methods</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment> <![CDATA[
                                        MASTER, VISA e DINERS para ambas operadoras, ELO, DISCOVER e AMEX disponível, apenas para Cielo.
                                ]]>
                            </comment>
                        </cctypes>
                        
                        <allowspecific translate="label">
                            <label>Tipos de países permitidos</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>55</sort_order>
                            <config_path>payment/gwap_cc/allowspecific</config_path>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>

                        <specificcountry translate="label">
                            <label>Permitir pagamento de países específicos</label>
                            <frontend_type>multiselect</frontend_type>
                            <config_path>payment/gwap_cc/specificcountry</config_path>
                            <sort_order>60</sort_order>Verification
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </specificcountry>

                        <api_mascara translate="label">
                            <label>Carregar Api Javascript</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gwap/source_mask</source_model>
                            <config_path>payment/gwap_cc/api_mascara</config_path>
                            <sort_order>64</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>                            
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[ Desative a Api de máscaras (Masked Input plugin for jQuery 1.3) caso já esteja sendo carregada na loja. ]]></comment>                             
                        </api_mascara>

                        <sort_order translate="label">
                            <label>Ordem de sorteio</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_cc/sort_order</config_path>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>                            
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </gwap_cc>
                
                <gwap_oneclick translate="label">
                    <label>One-click</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>                    
                    <fields>
                        <active translate="label">
                            <label>Habilitado</label>
                            <frontend_type>select</frontend_type>
                            <config_path>payment/gwap_oneclick/active</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                        Serão utilizados os dados gravados no gateway de pagamento, conforme as informações da última compra do cliente, feita com cartão de crédito na loja.
                                ]]>
                            </comment>                            
                        </active>
                        <title translate="label">
                            <label>Título</label>
                            <config_path>payment/gwap_oneclick/title</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title> 
                        <informacao translate="label">
                            <label>Texto no Checkout</label>
                            <frontend_type>textarea</frontend_type>
                            <config_path>payment/gwap_oneclick/informacao</config_path>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                        Texto informativo exibido no checkout. 
                                ]]>
                            </comment>
                        </informacao>                                             
                        <sort_order translate="label">
                            <label>Ordem de sorteio</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_oneclick/sort_order</config_path>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>                            
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </gwap_oneclick>    
                            
                <gwap_boleto translate="label">
                    <label>Boleto Itaú / Bradesco</label>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    
                    <fields>
                        <active translate="label">
                            <label>Habilitado</label>
                            <config_path>payment/gwap_boleto/active</config_path>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Título</label>
                            <config_path>payment/gwap_boleto/title</config_path>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <types translate="label">
                            <label>Boletos Diposníveis</label>
                            <frontend_type>multiselect</frontend_type>
                            <config_path>payment/gwap_boleto/types</config_path>
                            <source_model>gwap/source_boleto</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </types>
                        <transaction_channel_itau translate="label">
                            <label>Transaction Channel Itaú</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_boleto/transaction_channel_itau</config_path>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </transaction_channel_itau>				
                        <transaction_channel_bradesco translate="label">
                            <label>Transaction Channel Bradesco</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_boleto/transaction_channel_bradesco</config_path>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </transaction_channel_bradesco>	
                        
                        <vencimento translate="label">
                            <label>Vencimento</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_boleto/vencimento</config_path>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                        Define dias para o vencimento. Para banco BRADESCO será considerado no máximo 3 dias.
                                ]]>
                            </comment>
                        </vencimento>	
                        <cancelamento translate="label">
                            <label>Cancelamento</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_boleto/cancelamento</config_path>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                        Define número de dias para o cancelamento do boleto no sistema. Considerar o vencimento + dias para confirmação do pagamento pelo banco.
                                ]]>
                            </comment>
                        </cancelamento>	
                        <desconto translate="label">
                            <label>% Desconto</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_boleto/desconto</config_path>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                        Porcentagem de desconto no boleto, exemplo: "10.00". Deixe em branco para remover o desconto.
                                ]]>
                            </comment>
                        </desconto>  
                        <texto_desconto translate="label">
                            <label>Descrição do desconto</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_boleto/descr_desconto</config_path>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                        Descrição que será exibida no sumário/revisão do pedido no checkout.
                                ]]>
                            </comment>
                        </texto_desconto>                                              
                        <campo_documento translate="label">
                            <label>Campos para documento</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Campos do cadastro do cliente, em ordem de prioridade, separados por vírgula. Ex: "taxvat,cpf,cnpj".]]>
                            </comment>
                        </campo_documento>                      
                        <instrucoes translate="label">
                            <label>Instruções</label>
                            <frontend_type>textarea</frontend_type>
                            <config_path>payment/gwap_boleto/instrucoes</config_path>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[
                                        Apenas para banco BRADESCO. Define informações ao usuário no boleto 
                                ]]>
                            </comment>
                        </instrucoes>	                        
                        <cancelar_expirado translate="label">
                            <label>Cancelar pedidos expirados</label>
                            <frontend_type>select</frontend_type>
                            <config_path>payment/gwap_boleto/cancelar_expirado</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Cancela os pedidos após o período de "Cancelamento" dos boletos</comment>
                        </cancelar_expirado>                        
                        <sort_order translate="label">
                            <label>Ordem de sorteio</label>
                            <frontend_type>text</frontend_type>
                            <config_path>payment/gwap_boleto/sort_order</config_path>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>                            
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </gwap_boleto>
                
            </groups>
        </allpago>
    </sections>
</config>
